@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-color: #f9fafc;
  font-family: "Open Sans", sans-serif;
  max-width: 481px;
}

/*Nav bar styling*/

nav {
  display: flex;
  flex-direction: column;
}

a:link {
  color: #69696a;
  text-decoration: none;
  padding: 5px;
  font-weight: 500;
  font-size: 16px;
  margin-left: 5px;
}

a:visited {
  color: #69696a;
  text-decoration: none;
  padding: 5px;
  font-weight: 500;
  font-size: 16px;
  margin-left: 5px;
}

a:hover {
  color: #69696a;
  text-decoration: none;
  padding: 5px;
  font-weight: 500;
  font-size: 16px;
  margin-left: 5px;
}

a:focus {
  outline: none;
}

/*Both button styling*/

button {
  background-color: #000;
  color: #f9fafc;
  border: none;
  border-radius: 25px;
  display: inline-block;
  width: 100%;
  padding: 15px;
  margin: 5px 0 0 8px;
  font-size: 16px;
  font-weight: 500;
}

/*Line next to the quote styling*/

.companyquote {
  border-left: 3px solid;
  color: #69696a;
  padding: 3px 0 3px 10px;
  margin-left: 6px;
}

/*both header styling*/

h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0 0 8px;
  padding: 3px 0;
}

h1 {
  font-size: 35px;
  font-weight: 500;
  padding: 5px 0 0 0;
  margin-left: 5px;
}

p {
  color: #69696a;
  font-size: 16px;
  font-weight: 500;
}
